@model BlogNew.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}


<style>



    .form-control {
        margin: auto;
        max-width: 350px;
        display: inline;
    }

    input, select, textarea {
        max-width: 350px;
    }
</style>


<main aria-labelledby="title">



    <div class="mx-auto p-4 card" style="width: 400px; background-color:#ede9e9">


        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <p class="text-info">
                You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                Please enter a user name for this site below and click the Register button to finish
                logging in.
            </p>

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="form-floating mb-3">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "username", @placeholder = "Email" })
        <label class="form-label" for="username">Username</label>
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

    </div>


            <div class="from-group text-center mt-2">
                <input type="submit" class="btn btn-primary btn-block mb-5 fs-3" style="width:350px" value="Register" />
            </div>
        }

    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
