@using BlogNew.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<style>



    .form-control {
        margin: auto;
        max-width: 350px;
        display: inline;
    }



    #loginForm .form-check .form-check-input {
        float: none; /* Reset the float property */
        margin-left: 0; /* Reset the margin-left property */
    }
</style>

<main aria-labelledby="title">




    <div class="mx-auto p-4 card" style="width: 400px; background-color:#ede9e9">

        <h4 class="text-center">Use a local account to login</h4>
        <hr />

        <section id="loginForm">


            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()




                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group form-floating mb-3">


                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "username", @placeholder = "name@example.com" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    <label class="form-label" for="username">Username</label>


                </div>




                <div class="form-group form-floating mb-4">


                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <label class="form-label" for="password">Password</label>


                </div>


                <div class="form-group text-center mb-4">
                    <div class="form-check">

                        @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label" })
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block mb-2 fs-3 " style="width:350px">Sign in</button>
                </div>

                <p class="text-center">
                    Not a member?  @Html.ActionLink("Register", "Register")
                </p>
            }
        </section>



        <p class=" text-center">
            Or signup with:

            <section class=" text-center" id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </p>

        <div class=" text-center">
            @Html.ActionLink("Back to Posts", "Index", "Posts")
        </div>
    </div>






</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}