@model BlogNew.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<style>
    .form-control {
        max-width: 100%;
    }
</style>

<main aria-labelledby="title" class="my-5">
    <div class="mx-auto p-4 card" style="max-width: 400px; background-color:#ede9e9">
        <h4 class="text-center">Change Password</h4>
        <hr />
        <section id="change-password-form">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group form-floating mb-3">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "password" })
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-form-label" })
                </div>
                <div class="form-group form-floating mb-4">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "password" })
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-form-label" })
                </div>
                <div class="form-group form-floating mb-4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "password" })
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block mb-5 fs-3 " style="width:100%">Change password</button>
                </div>
            }
        </section>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}