@model BlogNew.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<style>
    .manage-section {
        box-shadow: 0px 0px 7px -5px grey;
        padding: 1rem;
    }
    .manage-container {
        max-width: fit-content;
    }
</style>

<main aria-labelledby="title">
    <h2 id="title" class="my-5" style="padding-left:1rem;">@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="d-grid gap-4 manage-container">
        <div class="manage-section">
            <h5>Posts</h5>
            <hr />
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action">
                    @Html.ActionLink("Posts", "Posts", null, new { @class = "link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" })
                </li>
            </ul>
        </div>
        @if (ViewBag.IsAdmin)
        {
            <div class="manage-section">
                <h5>Admin</h5>
                <hr />
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action">
                        @Html.ActionLink("Posts", "PostsAdmin", null, new { @class = "link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" })
                    </li>
                    <li class="list-group-item list-group-item-action">
                        @Html.ActionLink("Users", "Index", "Users", null, new { @class = "link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" })
                    </li>                    
                </ul>
            </div>
        }
        <div class="manage-section">
            <h5>Your Account</h5>
            <hr />
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action">
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" })
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword", null, new { @class = "link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" })
                    }
                </li>
                <li class="list-group-item list-group-item-action">
                    @Html.ActionLink("External Logins", "ManageLogins", null, new { @class = "link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" })
                </li>
            </ul>
        </div>
    </div>
</main>