@model PagedList.IPagedList<BlogNew.Models.UserViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Users";
}

<h2 class="mb-3">Users</h2>

<div class="mb-3">
    <div class="mb-3">@Html.ActionLink("Create New", "Create")</div>
    @using (Html.BeginForm("Index", "Users", FormMethod.Get))
    {
        <div class="d-flex gap-2">
            <div><span>Role: </span>@Html.DropDownList("roleFilter")</div>
            <div><span>User/Email: </span>@Html.TextBox("search", ViewBag.currentSearch as string)</div>
            <input type="submit" value="Filter" />
        </div>
    }
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            @if (Model.Count > 0)
            {
                <th scope="col">@Html.DisplayNameFor(model => model[0].Username)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].Email)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].Roles)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].IsDisabled)</th>
                <th scope="col">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Roles)</td>
                <td>@Html.DisplayFor(modelItem => item.IsDisabled)</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, search = ViewBag.currentSearch, roleFilter = ViewBag.currentFilter }))
</div>
