@model PagedList.IPagedList<BlogNew.Models.UserPostViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = $"{ViewBag.Username}'s Posts";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    .date, .thumbs-count, .thumb-icon {
        color: lightslategrey;
    }

    .date {
        font-size: 0.95rem;
    }

    .thumbs-count, .thumb-icon {
        font-size: 1.2rem;
    }

    .title-link {
        text-decoration: none;
        color: inherit;
    }

    .liked {
        color: forestgreen;
    }

    .not-liked {
        color: lightgray;
    }
</style>
<main style="max-width:1000px; margin-inline:auto">
    @if (ViewBag.IsAdmin)
    {
        <div class="d-grid gap-2 my-5">
            <h2 class="text-decoration-underline text-primary-emphasis">@ViewBag.Title</h2>
            <div class="d-flex gap-3">
                @Html.ActionLink($"Edit {ViewBag.Username}", "Edit", new { id = ViewBag.UserId }, new { @class = "link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" })
                @Html.ActionLink($"Delete {ViewBag.Username}", "Delete", new { id = ViewBag.UserId }, new { @class = "link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" })
                @Html.ActionLink("Back to Users", "Index", null, new { @class = "link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" })
            </div>
        </div>
    }
    else
    {
        <h2 class="my-5 text-decoration-underline text-primary-emphasis">@ViewBag.Title</h2>
    }

    <div class="d-grid gap-2 mb-4 fs-5">
        @foreach (var i in Model)
        {
            <div class="pb-4 mb-4" style="border-bottom: 1px solid #EBF2F6;">
                <article>
                    <h3 class="fw-bold text-break">@Html.ActionLink(i.Post.Title, "Details", "Posts", new { id = i.Post.PostId }, new { @class = "title-link" })</h3>
                    <p class="text-break">@Html.Raw(i.Post.Sinopse)</p>
                    <div class="d-flex gap-4 align-items-center">
                        <time class="date"><i class="bi bi-calendar me-2"></i>@i.Post.CreatedAt.ToShortDateString()</time>
                        <div class="thumb-counter">
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("ThumbsUp", "Posts", new { postId = i.Post.PostId }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" class="btn thumbs-up-btn" data-post-id="@i.Post.PostId">
                                        <i class="thumb-icon bi bi-hand-thumbs-up-fill @(i.HasUserLiked ? "liked" : "not-liked")"></i>
                                        <span class="thumbs-count">@i.Post.ThumbsCount</span>
                                    </button>

                                }
                            }
                            else
                            {
                                <i class="thumb-icon bi bi-hand-thumbs-up-fill @(i.HasUserLiked ? "liked" : "not-liked")"></i>
                                <span class="thumbs-count">@i.Post.ThumbsCount</span>
                            }
                        </div>
                    </div>
                </article>
            </div>
        }
    </div>

    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Posts",
            new { page, search = ViewBag.currentSearch, roleFilter = ViewBag.currentFilter, sortOrder = ViewBag.currentSort }))
    </div>
</main>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".thumbs-up-btn").click(function () {
                var postId = $(this).data("post-id");
                var counterElement = $(this).find(".thumbs-count");
                var thumbIcon = $(this).find(".thumb-icon");

                $.ajax({
                    type: "POST",
                    url: "/Posts/ThumbsUp",
                    data: {
                        postId: postId,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        counterElement.text(data.ThumbsCount);
                        thumbIcon.toggleClass("liked");
                        thumbIcon.toggleClass("not-liked");
                    },
                    dataType: 'json',
                    error: function (error) {
                        console.error("Error during Thumbs Up:", error);
                    }
                });
            });
        });

    </script>
}

