@model BlogNew.Models.Post

@{
    ViewBag.Title = "Posts";
}

<style>


    .btn {
        min-width: 70px;
    }
</style>

<h2 class="mb-2 px-5">New post</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="form-horizontal container">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="px-3">
        <div class="form-group shadow-sm   bg-body-tertiary rounded form-floating ">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control title", style = "max-width: 100%", @id = "title", @placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            <label class="form-label " for="title">Insert the title of the movie</label>
        </div>
    </div>






    <div class="form-group shadow-sm p-3  bg-body-tertiary rounded">
        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "tiny", style = "height: 500px;", placeholder = "Your review here" })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>

    <div class="d-flex py-5">

        <div class="px-2">
            <p class="mb-0 mt-2">Private ?   </p>
        </div>
        <div class="px-2 mb-0 mt-2">
            @Html.EditorFor(model => model.IsPrivate)
        </div>

        <div class="ms-auto">
            <button type="button" class="btn btn-danger" onclick="discardChanges()">Discard</button>
            <input type="submit" value="Create" class="btn btn-success" />
        </div>


    </div>

</div>
}






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.tiny.cloud/1/bcdxnqsdzr2xpwhq3vmk9xi7lat9ov3scbr2ksx0jx6ffo3c/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                 'advlist', 'autolink',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                 'fullscreen', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>

    <script>
        function discardChanges() {
            if (confirm("Are you sure you want to discard changes?")) {
                window.location.href = "@Url.Action("Index", "Posts")";
            }
        }
    </script>
}
