@model BlogNew.Models.Post

@{
    ViewBag.Title = "Details";
}

@using Microsoft.AspNet.Identity

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">




    <div>
        <h1 class="mb-3 px-5">
            @Html.DisplayFor(model => model.Title)
        </h1>
    </div>

    <div class="mb-3 px-5">
        @Html.Raw(Model.Content)
    </div>




    <div class="d-flex px-5 ">
        <p class="px-2 fst-italic">Created by: </p>


        @if (Model.User != null)
        {
            @Html.ActionLink(Model.User.UserName, "Posts", "Users", new { id = Model.UserId}, new { @class = "" })
        }
        else
        {
            <p class="fst-italic px-2">
                <text>User not available</text>
            </p>
        }
        <p class="px-2 fst-italic">in </p>

        <p class="">
            @string.Format("{0:yyyy-MM-dd}", Model.CreatedAt)
        </p>


        @if (User.Identity.IsAuthenticated)
        {
            bool isCreator = Model.UserId == User.Identity.GetUserId();
            bool isAdmin = User.IsInRole("Admin");

            if (isCreator || isAdmin)
            {
                <div class="ms-auto">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }, new { @class = "btn btn-primary px-2 " })
                    @Html.ActionLink("Delete", "Delete", new { id = Model.PostId }, new { @class = "btn btn-danger" })
                </div>
            }
        }
    </div>


    <!--THUMBS BUTTON-->
    <div class="d-grid justify-content-center px-5 mb-4">
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("ThumbsUp", "Posts", new { postId = Model.PostId }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="button" class="d-flex align-items-center gap-1 btn thumbs-up-btn" data-post-id="@Model.PostId">
                    <i class="thumb-icon bi bi-hand-thumbs-up-fill @(ViewBag.HasUserLiked ? "liked" : "not-liked")"></i>
                    <span class="thumbs-count">@ViewBag.ThumbsCount</span>
                </button>

            }
        }
        else
        {
            <div class="d-flex align-items-center gap-1">
                <i class="thumb-icon bi bi-hand-thumbs-up-fill @(ViewBag.HasUserLiked ? "liked" : "not-liked")"></i>
                <span class="thumbs-count">@ViewBag.ThumbsCount</span>
            </div>
        }
    </div>


    <div class="px-2">
        <div class="px-5" style="margin-bottom: 40px;">
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</div>

<style>
    .btn {
        min-width: 70px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .liked {
        color: forestgreen;
    }

    .not-liked {
        color: grey;
    }

    .thumbs-count {
        color: grey;
    }

    .thumb-icon, .thumbs-count {
        font-size: 2.25rem;
    }

    .thumbs-up-btn {
        padding: 0;
        border: none;
    }
</style>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".thumbs-up-btn").click(function () {
                var postId = $(this).data("post-id");
                var counterElement = $(this).find(".thumbs-count");
                var thumbIcon = $(this).find(".thumb-icon");

                $.ajax({
                    type: "POST",
                    url: "/Posts/ThumbsUp",
                    data: {
                        postId: postId,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        counterElement.text(data.ThumbsCount);
                        thumbIcon.toggleClass("liked");
                        thumbIcon.toggleClass("not-liked");
                    },
                    dataType: 'json',
                    error: function (error) {
                        console.error("Error during Thumbs Up:", error);
                    }
                });
            });
        });

    </script>
}