@model BlogNew.Models.Post

<link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />


@{
    ViewBag.Title = "Edit";
}

<h2 class="mb-2">Edit your post</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PostId)



        <div class="form-group shadow-sm p-3  bg-body-tertiary rounded">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control title", style = "max-width: 100%" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group shadow-sm p-3  bg-body-tertiary rounded">
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "tiny", style = "height: 500px;" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>



        <div class="form-group d-flex py-5 align-content-center ">


            <div class="px-2">
                <p class="mb-0 mt-2">Private ?   </p>
            </div>
            <div class="px-2 mb-0 mt-2">
                @Html.EditorFor(model => model.IsPrivate)
            </div>
            <div class="ms-auto px-2">
                <input type="submit" value="Save" class="btn btn-success" />
                <button type="button" class="btn btn-danger" onclick="discardChanges()">Discard</button>
            </div>

        </div>




    </div>
}

<style>
    .btn {
        min-width: 70px
    }
</style>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.tiny.cloud/1/bcdxnqsdzr2xpwhq3vmk9xi7lat9ov3scbr2ksx0jx6ffo3c/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>

    <script>
        function discardChanges() {
            if (confirm("Are you sure you want to discard changes?")) {
                window.location.href = "@Url.Action("Index", "Posts")";
            }
        }
    </script>
}
