@model IEnumerable<BlogNew.Models.Post>

@{
    ViewBag.Title = "PostsList";
}

<h2>Posts List</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Sinopse)</p>
                    @*<p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>*@
                    <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.CreatedAt)</small></p>

                    <p class="card-text">
                        Thumbs: @item.ThumbsCount
                        @if (User.Identity.IsAuthenticated)
                        {
                            using (Html.BeginForm("ThumbsUp", "Posts", new { postId = item.PostId }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-link">Thumbs Up</button>
                            }
                        }
                    </p>


                    @if (User.Identity.IsAuthenticated)
                    {
                        <p class="card-text">
                            @Html.ActionLink("Edit", "Edit", new { id = item.PostId }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PostId }, new { @class = "btn btn-secondary" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PostId }, new { @class = "btn btn-danger" })
                        </p>
                    }

                </div>
            </div>
        </div>
    }

    @section scripts {
        <script>
        // Get the saved scroll position
        var scrollPosition = @TempData["ScrollPosition"] ?? 0;

        // Scroll to the saved position
        if (scrollPosition) {
            $(document).scrollTop(scrollPosition);
        }
        </script>
    }

</div>
