@model PagedList.IPagedList<BlogNew.Models.Post>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    .title {
        text-decoration: none;
        color: #4A4A4A;
        transition: color 0.3s ease;
        font-size: 2.5rem;
        font-weight: bold;
    }
</style>

@{
    ViewBag.Title = "Home Page";
}





<div class="table pb-5">




    @foreach (var item in Model)
    {
        <div class="container">
            <div class="card  shadow-lg p-3 mb-3 bg-body-tertiary rounded">
                <div class="card-body">

                    <h5 class="card-title pt-4 pb-4">@Html.ActionLink(item.Title, "Details", new { id = item.PostId }, new { @class = "text-dark title text-uppercase fw-light" })</h5>

                    <p class="card-text text-size">@Html.Raw(item.Sinopse) ...>></p>
                    
                    <div class="d-flex align-items-center justify-content-between mt-5">

                        <div class="card-text px-1">
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("ThumbsUp", "Posts", new { postId = item.PostId }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" class="btn thumbs-up-btn" data-post-id="@item.PostId">
                                        <i class="thumb_icon bi @(ViewBag.AlreadyThumbed ? "bi-hand-thumbs-up-fill" : "bi-hand-thumbs-up")"></i>
                                        <span class="thumbs-count">@item.ThumbsCount</span>
                                    </button>

                                }
                            }
                            else
                            {
                                <i class="thumb_icon bi bi-hand-thumbs-up"></i> <span class="thumbs-count">@item.ThumbsCount</span>
                            }
                        </div>

                        <p class="card-text mb-0">
                            Created by:
                            @if (!String.IsNullOrEmpty(item.User.UserName))
                            {
                                <a href="@Url.Action("Index", "Posts", new { searchString = item.User.UserName })">
                                    @item.User.UserName
                                </a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            }
                        </p>


                        <p class="card-text">
                            <small class="text-muted">
                                @Html.ActionLink(item.CreatedAt.ToString("MM/dd/yyyy"), "Index", "Posts", new { date = item.CreatedAt.ToString("yyyy-MM-dd") }, new { @class = "your-link-class" })
                            </small>
                        </p>






                    </div>






                </div>
            </div>
        </div>
    }

</div>

<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".thumbs-up-btn").click(function () {
                var postId = $(this).data("post-id");
                var counterElement = $(this).closest('.card-body').find(".thumbs-count");
                var thumbIcon = $(this).find(".thumb_icon");

                $.ajax({
                    type: "POST",
                    url: "/Posts/ThumbsUp",
                    data: {
                        postId: postId,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        counterElement.text(data.ThumbsCount);

                        if (data.AlreadyThumbed) {
                            thumbIcon.removeClass("bi-hand-thumbs-up-fill");
                            thumbIcon.addClass("bi-hand-thumbs-up");
                        } else {
                            thumbIcon.removeClass("bi-hand-thumbs-up");
                            thumbIcon.addClass("bi-hand-thumbs-up-fill");
                        }
                    },
                    dataType: 'json',
                    error: function (error) {
                        console.error("Error during Thumbs Up:", error);
                    }
                });
            });
        });

    </script>
}





