@model PagedList.IPagedList<BlogNew.Models.PostIndexViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    .date, .thumbs-count, .thumb-icon, .user-icon, .user-link {
        color: lightslategrey;
        
    }
    .date, .thumbs-count, .thumb-icon, .user-link {
        font-size: 1.15rem;
    }

    .thumbs-up-btn {
        padding: 0;
        border: none;
    }

    .title-link {
        color: inherit;
    }

    .title-link, .user-link {
        text-decoration: none;
    }

    .liked {
        color: forestgreen;
    }

    .not-liked {
        color: lightgray;
    }
    .hero{
        margin-block: 5rem;
        background-color: #f5f8fa;
        display: grid;
        place-items: center;
        padding: 5rem;
    }

    .hero-title {
        font-size: 4rem;
        font-weight: bold;
    }
</style>
<main style="max-width:1000px; margin-inline:auto">

    <div class="hero">
        <div class="text-center d-grid gap-3">
            <h1 class="hero-title">M-Log</h1>
            <p class="fs-3 fst-italic">The Citizen Kane of Movie Blogs</p>
        </div>
    </div>

    <div class="d-grid gap-2 mb-4 fs-5">
        @foreach (var i in Model)
        {
            <div class="pb-4 mb-4" style="border-bottom: 1px solid #EBF2F6;">
                <article>
                    <h3 class="fw-bold text-break">@Html.ActionLink(i.Post.Title, "Details", "Posts", new { id = i.Post.PostId }, new { @class = "title-link" })</h3>
                    <p class="text-break">@Html.Raw(i.Post.Sinopse)</p>
                    <div class="d-flex gap-4 align-items-center">
                        <div class="d-flex align-items-center gap-1">
                            <i class="user-icon bi bi-person-fill"></i>
                            @Html.ActionLink(i.User.UserName, "Posts", "Users", new { id = i.User.Id }, new { @class = "user-link" })
                        </div>
                        <time class="date"><i class="bi bi-calendar me-2"></i>@i.Post.CreatedAt.ToShortDateString()</time>
                        <div class="thumb-counter">
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("ThumbsUp", "Posts", new { postId = i.Post.PostId }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" class="d-flex align-items-center gap-1 btn thumbs-up-btn" data-post-id="@i.Post.PostId">
                                        <i class="thumb-icon bi bi-hand-thumbs-up-fill @(i.HasUserLiked ? "liked" : "not-liked")"></i>
                                        <span class="thumbs-count">@i.Post.ThumbsCount</span>
                                    </button>

                                }
                            }
                            else
                            {
                                <div class="d-flex align-items-center gap-1">
                                    <i class="thumb-icon bi bi-hand-thumbs-up-fill @(i.HasUserLiked ? "liked" : "not-liked")"></i>
                                    <span class="thumbs-count">@i.Post.ThumbsCount</span>
                                </div>
                            }
                        </div>
                    </div>
                </article>
            </div>
        }
    </div>

    <div class="mb-3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, search = ViewBag.currentSearch }))
    </div>
</main>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".thumbs-up-btn").click(function () {
                var postId = $(this).data("post-id");
                var counterElement = $(this).find(".thumbs-count");
                var thumbIcon = $(this).find(".thumb-icon");

                $.ajax({
                    type: "POST",
                    url: "/Posts/ThumbsUp",
                    data: {
                        postId: postId,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        counterElement.text(data.ThumbsCount);
                        thumbIcon.toggleClass("liked");
                        thumbIcon.toggleClass("not-liked");
                    },
                    dataType: 'json',
                    error: function (error) {
                        console.error("Error during Thumbs Up:", error);
                    }
                });
            });
        });

    </script>
}